This notebook creates a dict out of a dataframe of news : 
{'Company name' : dataframe of news containing the name of the company}

In [52]:
import pandas as pd
import numpy as np
import pickle
import os

data_folder = '../data/'
df_to_read = 'Reuters' #Bloomberg or Reuters
df = pd.read_parquet(data_folder + 'financial_data' + df_to_read + '.parquet.gzip')

What is inside the dataframe :

In [54]:
print(df.columns)
print(f'{len(df)} entries')
df.head(5)

Index(['Headline', 'Journalists', 'Date', 'Link', 'Article'], dtype='object')
106494 entries

,Headline,Journalists,Date,Link,Article
0,Exxon Mobil offers plan to end Alaska dispute,[Yereth Rosen],"Fri Oct 20, 2006 6:15pm EDT",http://www.reuters.com/article/2006/10/20/busi...,"ANCHORAGE, Alaska (Reuters) - Exxon Mobil ( X..."
1,"Hey buddy, can you spare $600 for a Google share?","[Paul Thomasch, Eric Auchard]","Fri Oct 20, 2006 4:25pm EDT",http://www.reuters.com/article/2006/10/20/busi...,SAN FRANCISCO/NEW YORK (Reuters) - Wall Stree...
2,AOL CEO says sales may shrink for two years -p...,[],"Sat Oct 21, 2006 2:21pm EDT",http://www.reuters.com/article/2006/10/21/busi...,FRANKFURT (Reuters) - Internet service provid...
3,"Fed to keep hawkish tone, hold rates steady",[Alister Bull],"Sun Oct 22, 2006 12:14pm EDT",http://www.reuters.com/article/2006/10/22/busi...,WASHINGTON (Reuters) - The central bank is ex...
4,Pluspetrol says losing $2.4 mln/day in Peru pr...,[],"Sat Oct 21, 2006 8:11pm EDT",http://www.reuters.com/article/2006/10/22/busi...,"LIMA, Peru (Reuters) - Argentine oil company ..."

We drop everything not needed

In [63]:
df = df.drop(columns = ['Link', 'Headline', 'Journalists'])
df.head(3)

,Date,Article
0,"Fri Oct 20, 2006 6:15pm EDT","ANCHORAGE, Alaska (Reuters) - Exxon Mobil ( X..."
1,"Fri Oct 20, 2006 4:25pm EDT",SAN FRANCISCO/NEW YORK (Reuters) - Wall Stree...
2,"Sat Oct 21, 2006 2:21pm EDT",FRANKFURT (Reuters) - Internet service provid...

We get our dictionary (which is at first empty)

In [113]:
dict_name = "data_dict"
companies_to_get = ["google", "apple", "amazon", "facebook"]

f = open(dict_name+".pkl","r+b")
if (os.stat("./"+ dict_name +".pkl").st_size == 0):
    data_dict = {}
else :
    data_dict = pickle.load(f)
f.close()
keys = data_dict.keys()

#Check if the df we are going to add has corresponding variables (those given in 'cols')
cols = ['Date', 'Article']
assert(len(df.columns == len(cols))), 'Number of columns mismatch (needs 2 : Date and Article)'
for i in range(len(cols)):
    assert(cols[i] == df.columns.values[i]), f"Column mismatch : {df.columns.values[i]} when {cols(i)} was expected"

for company_name in companies_to_get:
    company_df = df[df.Article.apply(lambda article : company_name.lower() in article.lower())]
    if company_name in keys:
        data_dict[company_name] = data_dict[company_name].append(company_df)
    else :
        data_dict[company_name] = company_df

f = open(dict_name+".pkl","r+b")
pickle.dump(data_dict, f)
f.close()

In [108]:

f = open("data_dict.pkl","r+b")
data_dict2 = pickle.load(f)
print(data_dict2.keys())
f.close()

dict_keys(['google', 'amazon', 'apple'])

In [98]:
data_dict.keys()

dict_keys(['exxon', 'google', 'amazon', 'apple'])