In [14]:
import TweetDataFrame as TDF
import Natural_Language_Processing as NLP
from sklearn.feature_extraction.text import CountVectorizer
import tweepy as tw
import pandas as pd
import numpy as np

In [15]:
dico = pd.read_excel('dictionary_sentiment.xlsx',sheet_name=1)

In [16]:
Data = TDF.search("Airbus", "2020-12-07", 10, "en")

Authentification ok

In [17]:
Data.columns

Index(['Text', 'User', 'Date', 'Search Word'], dtype='object')

In [18]:
tweet = Data['Text'][0]

In [19]:
f= open("dict_mot/stop_words_english.txt","r")
stop_words_en=f.read().splitlines()
f.close

In [20]:
words,BOW = NLP.BagOfWords(tweet,'en', stop_words=stop_words_en, remove_non_words=False, stemming=False)

In [21]:
bag_of_words = NLP.CreateData(words,BOW)

In [22]:
words,BOW = NLP.BagOfWords(Data['Text'][1],'en', stop_words=stop_words_en, remove_non_words=False, stemming=False)
bag_of_words = NLP.AddInBow(bag_of_words,words,BOW)

In [23]:
bag_of_words

,airbus,contract,early,eurodrone,prepares,signing,also,arrival,blend,cooking,...,flew,fly,fuel,giant,latest,obwhfduagi,oil,sky,sustainable,used
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,1,0,0,0,0,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [24]:
dico

     POSITIV_KEYWORD NEGATIV_KEYWORD
0              ABIDE         ABANDON
1            ABILITY     ABANDONMENT
2               ABLE           ABATE
3             ABOUND        ABDICATE
4            ABSOLVE           ABHOR
...              ...             ...
2286             NaN        WRONGFUL
2287             NaN         WROUGHT
2288             NaN            YAWN
2289             NaN           YEARN
2290             NaN            YELP

[2291 rows x 2 columns]